.bg-header{
  background-color: #324191;
}

.col
{
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 590px;
}
nav li a {
  color: black;
  transition: all .3s ;
}
 nav li .active{
background-color: #E8EAF6;
}
nav ul li a {
  padding: 15px;
}

.dropdown-toggle
{
  position: relative;
}
.dropdown-toggle::after
{
  position: absolute;
  right: 15px;
  top: 26px;
}
.mb{
  margin-bottom: 42px;
}
.border-bottom{
  border-bottom: 1px solid rgba(48, 48, 48, 0.61) !important;
}
