<div class ="bg-header">
  <h3 class="p-3 text-light fs-4 ">CRM Application</h3 >
</div>

<div class="container-fluied">
  <div class="row gx-5">
    <div class= "col-lg-2 col-md-12 ">
      <nav id="sidebarMenu" class=" d-md-block text-light shadow sidebar  col " >
        <div class="position-sticky  ">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active "  aria-current="page"> <i class="fas fa-home me-2"></i>Dashboard</a>
            </li>

            <li class="nav-item dropdown" *ngFor="let name of navbar">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i [class]= name.icon ></i>  {{name.name}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  > <i class="fas fa-sign-in me-2"></i>Sign Out </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-lg-9 col-md-12 ">
        <p class="mt-4 col-md-12  ms-1 h5 border-bottom pb-3">DashBoard</p>
        <div class="row gx-3 d-flex">
          <div class=" col ">
            <div class="p-5  shadow">
              <h6 class="text-center h4">Upcoming Deal Closures</h6>
              <p  class="text-center mb-5">Next 60 Days</p>
              <canvas  id="myChart" class="mb"></canvas>
            </div>

          </div>
          <div class=" col ">
            <div class=" shadow p-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-8 ">
                  <h6 class="text-center h4 mb-5">Deal Share by Contact</h6>
                  <canvas   width="400" height="400"  id="myChart2"></canvas>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

